***

# Lists and Tuples

https://docs.python.org/3/tutorial/introduction.html#lists 

https://docs.python.org/3/tutorial/datastructures.html#more-on-lists 

https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences

In [ ]:
# declare lists using square brackets

a = [2, 5, 10, 3, 9]
print(type(a))

# reference item in a list (like strings) with square brackets
print("a[0]  ", a[0])
print("a[2]  ", a[2])
print("a[-1] ", a[-1])
print()

# slice using : (like strings)
print("a[:]     ", a[:])
print("a[1:5:2] ", a[1:5:2])
print()

# length
print("len(a) = ", len(a))

In [ ]:
# declare tuples using parentheses

a = (2, 5, 10, 3, 9)
print(type(a))

# reference item in a list (like strings) with square brackets
print("a[0]  ", a[0])
print("a[2]  ", a[2])
print("a[-1] ", a[-1])
print()

# slice using : (like strings and lists)
print("a[:]     ", a[:])
print("a[1:5:2] ", a[1:5:2])
print()

# length
print("len(a) = ", len(a))

### Homogeneous vs. Heterogeneous Data

In [ ]:
# both lists and tuples can be homogenous or heterogenous

a = [4, 9, 3, 1]
b = ["fish", 3.1, 1, True]
print(a[0], b[0])

a = (4, 9, 3, 1)
b = ("fish", 3.1, 1, True)
print(a[0], b[0])

### Mutability

In [ ]:
# lists are mutable (can be changed)

a = [2, 5, 10, 3, 9]
print(a)
a[1] = 99
print(a)

print()

# tuples are immutable (cannot be changed, like strings)

a = (2, 5, 10, 3, 9)
print(a)
a[1] = 99
print(a)

# immutability can be beneficial to ensure that data in the tuple does not change

### Tuples and Lists with Zero or One Element

In [ ]:
# empty tuple

a = ()
print(a)
print(type(a))

In [ ]:
# tuple with one element  

# this doesn't work, parentheses is interpretted mathematically
a = (99)
print(a)
print(type(a))
print()

# this works
a = (99,)
print(a)
print(type(a))

In [ ]:
# other ways to create tuple

a = 1, 5, 10
print(a)
print(type(a))
print()

a = 99,
print(a)
print(type(a))

In [ ]:
# empty list

a = []
print(a)
print(type(a))

In [ ]:
# list with one element  

# this works
a = [99]
print(a)
print(type(a))
print()

# so does this
a = [99,]
print(a)
print(type(a))

### Converting Between Lists and Tuples

In [ ]:
# converting between lists and tuples 

mylist  = [10, 5, 1]
mytuple = (11, 6, 0)

newtuple  = tuple(mylist)
newlist = list(mytuple)

print(newlist)
print(type(newlist))
print()

print(newtuple)
print(type(newtuple))

In [ ]:
# can convert from iterator to list (or tuple)
# recall range() is often used in a for loop

a = range(10)
print(a)
print(type(a))
print()

b = list(range(10))
print(b)
print(type(b))
print()

c = tuple(range(10))
print(c)
print(type(c))

### Operations on Lists and Tuples

In [ ]:
# operations on lists and tuples 

a = [1, 2, 3]
b = [5, 6, 7]
print(a+b)
print(3*a)
print(max(b))
print()

c = (1, 2, 3)
d = (5, 6, 7)
print(c+d)
print(3*c)
print(max(d))

### Adding and Deleting Items on Lists

In [ ]:
# adding and deleting items on a list 

a = [1, 2, 3, 4, 5, 6]

# adding items
a.append(4)
print("after a.append(4)       ", a)

a.append(99)
print("after a.append(99)      ", a)

a.append("truck")
print("after a.append('truck') ", a)

# deleting item
del(a[1])
print("after del(a[1])         ", a)

# delete range of items
del(a[0:3])
print("after del(a[0:3])       ", a)

In [ ]:
# unlike Matlab, you cannot just do something like this

a = [1, 2, 3]
a[3] = 4

# let alone this
a[99] = 100

### Deleting/Removing Items from Lists

In [ ]:
# other operations on lists 

a = [1, 4, 7, "truck", 3, 4]
print("original list           ", a)

# recall what del() does
del(a[1])
print("after del(a[1])         ", a)

# can remove first one
a.remove("truck")
print("after a.remove('truck') ", a)

In [ ]:
# no more left to remove - throws an error

print(a)
a.remove("truck")
print("after a.remove('truck') ", a)

### Finding Items on a List

In [ ]:
# find particular items in a list

a = ["nail", "truck", "cow", "fish", "cow", "ball", "kite", "cow"]

# count the number of occurrences
print("a.count('cow')  ", a.count("cow"))
print("a.count('book') ", a.count("book"))
print()

# find the index of the first occurence
print("a.index('cow')  ", a.index("cow"))
print()

# introducing the conditional (if statement) in Python
if (a.count('book') > 0):
    print("a.index('book') ", a.index("book"))
else:
    print("not found!")

### Concatenating, Extending, Appending

In [ ]:
# + vs. extend vs. append

a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print("a+b  ", a+b)
print()

a.extend(b)
print("a.extend(b) ", a)
print()

a.append(b)
print("a.append(b) ", a)

### Sorting Lists

In [ ]:
# .sort method

a = [5, 4, 6, 1, 4, 3, 5]

a.sort()
print(a)

In [ ]:
# sorted() function

a = [5, 4, 6, 1, 4, 3, 5]

# sorted returns a sorted list without affecting the original list
print("sorted(a)  ", sorted(a))
print("original a ", a)

### Iterating Over Lists and Tuples with For Loops

In [ ]:
# stepping through each item in a list - for loops in Python

a = [1, 2, 3, 5, 7, 11]
for i in range(len(a)):
    print(i, "\t", a[i])

print()
    
for elem in a:
    print(i, "\t", elem)

In [ ]:
# stepping through each item in a tuple - for loops in Python

a = (1, 2, 3, 5, 7, 11)
for i in range(len(a)):
    print(i, "\t", a[i])

print("\n- or -\n")

a = (1, 2, 3, 5, 7, 11)
for elem in a:
    print(elem)

### Copying a List

In [ ]:
# copy of a list

a = [5, 4, 6, 1, 4, 3, 5]
b = a
print("a ", a); print("b ", b); print()

In [ ]:
a[2] = 99
print("a ", a); print("b ", b); print()

In [ ]:
# make a copy
a = [5, 4, 6, 1, 4, 3, 5]
b = a.copy()
a[2] = 99
print("a ", a); print("b ", b); print()

# or this way
a = [5, 4, 6, 1, 4, 3, 5]
b = a[:]
a[2] = 99
print("a ", a); print("b ", b); print()

### Nested (Multidimensional) Lists and Tuples

In [ ]:
# lists and tuples contain object
#
# those object can be other lists and tuples 
# (or strings, or floats, or ints, or any other object)

a = [[1, 2, 3], [4, 5, 6]]
print(a)
print(a[0][2])
print(a[1][0])

give this:

In [ ]:
a = [1, "fish", [2, 3], (1, 3, 5), ["truck", "house"]]
print(a)

what will these return?

In [ ]:
print("a[2][0] ", a[2][0])

In [ ]:
print("a[4][1] ", a[4][1])

In [ ]:
print("a[0][0] ", a[0][0])

In [ ]:
print("a[1][0] ", a[1][0])

In [ ]:
print("a[4][1][2] ", a[4][1][2])

how to think of accessing these nested lists/tuples

In [ ]:
a = (1, [2, 3], (4, [5, 6]), 7)
print(a)

In [ ]:
a1 = a[2]
print(a1)

In [ ]:
a2 = a1[1]
print(a2)

In [ ]:
a3 = a2[0]
print(a3)

In [ ]:
# that is the same as
print(a[2][1][0])

### Shallow vs. Deep Copy of Lists

shallow copy

In [ ]:
a = [1, [2, 3], [4, [5, 6]], 7]
b = a.copy()

a[2][1][0] = 99
print(a)
print(b)

also a shallow copy

In [ ]:
import copy

a = [1, [2, 3], [4, [5, 6]], 7]
b = copy.copy(a)

a[2][1][0] = 99
a[0] = 1000
print(a)
print(b)

deep copy (full nesting)

In [ ]:
import copy

a = [1, [2, 3], [4, [5, 6]], 7]
b = copy.deepcopy(a)

a[2][1][0] = 99
print(a)
print(b)

deep copy (full nesting) - with a different import syntax

In [ ]:
from copy import deepcopy

a = [1, [2, 3], [4, [5, 6]], 7]
b = deepcopy(a)

a[2][1][0] = 99
print(a)
print(b)