***

## Variables and Types

In [1]:
# examples of scalar variables

x1 = 1
y_text = "text"
Zvar = True

In [2]:
# variable types (classes)

print(type(x1))
print(type(y_text))
print(type(Zvar))

<class 'int'>
<class 'str'>
<class 'bool'>

In [3]:
# Python is dynamically typed

a = 1
print(type(a))
a = 4.5
print(type(a))
a = "sample text"
print(type(a))
a = False
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# type casting (convert from one type to another)

x = 1.
y = int(x)
print(x, type(x))
print(y, type(y))

In [ ]:
x = 1
y = float(x)
print(x, type(x))
print(y, type(y))

In [ ]:
x = 125.411
y = str(x)
print(x, type(x))
print(y, type(y))

In [ ]:
x = "3.14159"
y = float(x)
print(x, type(x))
print(y, type(y))

In [ ]:
# everything in Python is an object

# dir() lists methods and attributes associated with an object

# by itself, dir() lists all names in the current local scope 

# given an object (a variable, a function, a module) dir() returns all methods and attributes
x = 1.3
print(dir(x))

# attributes/methods prefixed/suffixed by __ should be avoided (implementation detail subject to change)

In [ ]:
# methods and attributes of an object accessible using the . convention

print(x.is_integer())
print(x.as_integer_ratio())

print()

y = 1.
print(type(y))
print(y.is_integer())

In [ ]:
y = "This Is A String"
print(dir(y))

In [ ]:
print(y.count("i"))
print(y.swapcase())

***

## Numeric Types and Operations

In [ ]:
# int vs. float types - decimal point indicates a float type

x = 1
y = 1.
print(type(x))
print(type(y))

In [ ]:
z = x*y
print(type(z))

In [ ]:
x = 1-.0000000001
y = 1-.0000000000000001
z = 1-.00000000000000001
print(x)
print(y)
print(z)

In [ ]:
print(1000 * .01)

In [ ]:
sum = 0
for i in range(0,1000):
    sum = sum+.01
print(sum)

In [ ]:
# infinity in Python

x = float('inf')
print(x)
type(x)

https://jakevdp.github.io/WhirlwindTourOfPython/04-semantics-operators.html

In [ ]:
# mathematical operation

print("2+3  = ", 2+3)
print("2-3  = ", 2-3)
print("2*3  = ", 2*3)
print("2/3  = ", 2/3)
print("2**3 = ", 2**3)
print("2//3 = ", 2//3)
print("2%3  = ", 2%3)

In [ ]:
# what type will each of these print?

print(type(2+3))
print(type(2.+3.))
print(type(2/3))

In [ ]:
# what type will each of these print?

print(type(2//3))
print(type(2%3))
print(type(2.//3.))
print(type(2.%3.))

In [ ]:
# what values will these generate?

print("2 ** 2+1  =", 2 ** 2+1)
print("2+3 ** 2  =", 2+3 ** 2)
print("2 * 3**2  = ", 2 * 3**2)
print("4+2 / 1+2 = ", 4+2 / 1+2)
print("-2 ** 2   =", -2 ** 2)

In [ ]:
# order of operation and parentheses

print("(2 ** 2)+1  =", (2 ** 2)+1)
print("2+(3 ** 2)  =", 2+(3 ** 2))
print("2 * (3**2)  = ", 2 * (3**2))
print("4+(2 / 1)+2 = ", 4+(2 / 1)+2)
print("-(2 ** 2)   =", -(2 ** 2))

In [ ]:
# order of operation and parentheses

print("2 ** (2+1)    =", 2 ** (2+1))
print("(2+3) ** 2)   =", (2+3) ** 2)
print("2 * (3**2)    = ", 2 * (3**2))
print("(4+2) / (1+2) = ", (4+2) / (1+2))
print("(-2) ** 2)    =", (-2) ** 2)

In [ ]:
# equal order of operations, evaluated left to right

print("8 / 4 * 4 / 2         = ", 8 / 4 * 4 / 2)
print("(((8 / 4) *  4) / 2)  = ", (((8 / 4) * 4) / 2))
print("(8 / (4 * (4 / 2)))   = ", (8 / (4 * (4 / 2))))

In [ ]:
# modulo division

print("20 divided by 3 equals ", 20 // 3, " remainder ", 20 % 3)

In [ ]:
# special numbers inf and nan

x = inf
print(x)
print(type(x))

y = nan
print(y)
print(type(y))

***

## Assignment and Equivalence

In [ ]:
x = 1
y = x
print(x, y)

# note that above y was assigned the value of x (copied it), it wasn't made the same object as x
x = 4
print(x, y)

# with other data structures, this will be different

In [ ]:
# compound assignment operators in Python

x = 2; x += 5;  print("x += 5  ==> ", x)
x = 2; x -= 5;  print("x -= 5  ==> ", x)
x = 2; x *= 5;  print("x *= 5  ==> ", x)
x = 2; x /= 5;  print("x /= 5  ==> ", x)
x = 2; x %= 5;  print("x %= 5  ==> ", x)
x = 2; x //= 5; print("x //= 5 ==> ", x)
x = 2; x **= 5; print("x **= 5 ==> ", x)

# note use of ; to put multiple statements on the same line

In [ ]:
# checking for equivalence

print(2 + (3-1) == 3)